{% extends "layout.html" %}

{% block body %}
<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-12 text-center mb-5 mt-5">
          <h1>Hello!!　Thank you for coming to my blog</h1>
          <p></p><br>
          <div style="font-size:40px;">
            <p>Sorry,please wait a little more</p>
            </div>
            </div>
          </div>
      </div>
      <div class="container">
          <div class="row justify-content-center mt-5">
            <div class="col-12 text-center mb-5 mt-5">
              <h2>Coming Soon!</h2>
            </div>
          </div>
      </div>

      <!-- Footer -->
      <footer class="page-footer font-small indigo">

        <!-- Footer Links -->
        <div class="container">

          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center pt-5 mb-3">

            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!">WORK</a>
              </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!">ABOUT</a>
              </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!">HELLO</a>
              </h6>
            </div>
          </div>

          <!-- Grid row-->
          <div class="row pb-3">

            <!-- Grid column -->
            <div class="col-md-12">

              <div class="flex-center">

              </div>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row-->

        </div>
        <!-- Footer Links -->
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-2 text-center mb-5">
        <!-- Twitter -->
              <a class="tw-ic">
                <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
              </a>
        <!--Instagram-->
              <a class="mail-ic">
                <i class="fas fa-envelope white-text mr-4"> </i>
              </a>
              <a class="github-ic">
                <i class="fab fa-github white-text mr-4"> </i>
              </a>
            </div>
          </div>
      </div>

      </footer>
      <!-- Footer -->
{% endblock %}
