{% extends "layout.html" %}

{% block body %}
<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-12 text-center mb-5 mt-5">
          <h1>Hello!!　Thank you for coming to my blog</h1>
          <p></p><br>
          <div style="font-size:40px;">
            <p>Sorry,please wait a little more</p>
            </div>
            </div>
          </div>
      </div>
      <div class="container">
          <div class="row justify-content-center mt-5">
            <div class="col-12 text-center mb-5 mt-5">
              <h2>Coming Soon!</h2>
            </div>
          </div>
      </div>
{% endblock %}
