<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <!-- CSS -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- JavaScript -->
        <script src="../static/js/bootstrap.min.js"></script>
        <title>Go's Page</title>
    </head>

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark p-4" style="background-color: #000033;">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="navbar-toggler-icon" style="font-size:30px;"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('home')}}">
                    Home
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('portfolio')}}">
                    Portfolio
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('about')}}">
                    About
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('blog')}}">
                    Blog
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('getintouch')}}">
                    Contact
                </a>
              </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
<div style="background-color: #000033;">
  <div class="container" style="background-color: #000033;">
    <div class="row justify-content-center mt-5">
      <div class="col-12 text-center mb-5 mt-5 text-white">
          <h1>GO KOYAMA</h1>
            <a href="#" class="btn btn-primary">GET IN TOUCH</a>
            </div>
                <div class="col-4 mt-5 mb-5">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Portfolio1</h5>
                      <p class="card-text">portfolio1の説明</p>
                      <a href="#" class="btn btn-primary">link</a>
                    </div>
                  </div>
                </div>
            <div class="col-4 mt-5 mb-5">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Portfolio2</h5>
                  <p class="card-text">portfolio2の説明</p>
                  <a href="##" class="btn btn-primary">link</a>
                </div>
              </div>
            </div>
            <div class="col-4 mt-5 mb-5">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Portfolio3</h5>
                  <p class="card-text">portfolio3の説明</p>
                  <a href="###" class="btn btn-primary">link</a>
                </div>
              </div>
            </div>
            <div class="col-4 mb-5">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Portfolio4</h5>
                  <p class="card-text">portfolio4の説明</p>
                  <a href="###" class="btn btn-primary">link</a>
                </div>
              </div>
            </div>
            <div class="col-4 mb-5">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Portfolio5</h5>
                  <p class="card-text">portfolio5の説明</p>
                  <a href="###" class="btn btn-primary">link</a>
                </div>
              </div>
            </div>
            <div class="col-4 mb-5">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Portfolio6</h5>
                  <p class="card-text">portfolio6の説明</p>
                  <a href="###" class="btn btn-primary">link</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

        <!-- Footer -->
        <footer class="page-footer font-small indigo" style="background-color: #000033;">

          <!-- Footer Links -->
          <div class="container">

            <!-- Grid row-->
            <div class="row text-center d-flex justify-content-center pt-5 mb-3 text-light">

              <!-- Grid column -->
              <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                  <a href="#!">WORK</a>
                </h6>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                  <a href="#!">ABOUT</a>
                </h6>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                  <a href="#!">HELLO</a>
                </h6>
              </div>
            </div>

            <!-- Grid row-->
            <div class="row pb-3">

              <!-- Grid column -->
              <div class="col-md-12">

                <div class="flex-center">

                </div>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row-->

          </div>
          <!-- Footer Links -->
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-2 text-center mb-5" style="font-size:20px;">
          <!-- Twitter -->
                <a class="tw-ic">
                  <i class="fab fa-twitter fa-lg white-text mr-4 color-white"></i>
                </a>
          <!--Instagram-->
                <a class="mail-ic">
                  <i class="fas fa-envelope white-text mr-4 color-white"> </i>
                </a>
                <a class="github-ic">
                  <i class="fab fa-github white-text mr-4 color-white"> </i>
                </a>
              </div>
            </div>
        </div>
        </footer>
        <!-- Footer -->
{% endblock %}
