<div style="background-color: #000033;">
{% extends "layout.html" %}

{% block body %}
      <div class="container-fluid">

        <div class="row justify-content-center mt-5">
              <div class="col-md-3 mt-5 mb-1">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="static/images/IMG_0238.jpeg" style="opacity: 0.5;">
                    <div class="card-img-overlay">
                      <h5 class="card-title">Portfolio1</h5>
                      <p class="card-text">Coming Soon</p>
                    </div>
                  </div>
                </div>
          <div class="col-md-3 mt-5 mb-1">
            <div class="card bg-dark text-white">
                <img class="card-img" src="static/images/IMG_0216.jpeg" style="opacity: 0.5;">
                <div class="card-img-overlay">
                  <h5 class="card-title">Portfolio2</h5>
                  <p class="card-text">Coming Soon</p>
                </div>
              </div>
          </div>

          <div class="col-md-3 mt-5 mb-1 mr-1">
            <div class="card bg-dark text-white">
                <img class="card-img" src="static/images/IMG_0189.jpeg" style="opacity: 0.5;">
                <div class="card-img-overlay">
                  <h5 class="card-title">Portfolio3</h5>
                  <p class="card-text">Coming Soon</p>
                </div>
              </div>
          </div>

          <div class="col-md-3 mb-5">
            <div class="card bg-dark text-white">
                <img class="card-img" src="static/images/IMG_4394.jpeg" style="opacity: 0.5;">
                <div class="card-img-overlay">
                  <h5 class="card-title">Portfolio4</h5>
                  <p class="card-text">Coming Soon</p>
                </div>
              </div>
          </div>

          <div class="col-md-3 mb-5">
            <div class="card bg-dark text-white">
                <img class="card-img" src="static/images/IMG_4013.jpeg" style="opacity: 0.5;">
                <div class="card-img-overlay">
                  <h5 class="card-title">Portfolio5</h5>
                  <p class="card-text">Coming Soon</p>
                </div>
              </div>
          </div>

          <div class="col-md-3 mb-5 mr-1">
            <div class="card bg-dark text-white">
                <img class="card-img" src="static/images/IMG_3072.jpeg" style="opacity: 0.5;">
                <div class="card-img-overlay">
                  <h5 class="card-title">Portfolio6</h5>
                  <p class="card-text">Coming Soon</p>
                </div>
              </div>
          </div>
        </div>
      </div>

<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-3　text-white">
        <h6 class="text-uppercase font-weight-bold">
          <a class="btn btn-outline-light" href="{{url_for('portfolio')}}"><font face="Times New Roman">WORK</font></a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3　text-white">
        <h6 class="text-uppercase font-weight-bold">
          <a class="btn btn-outline-light" href="{{url_for('about')}}"><font face="Times New Roman">ABOUT</font></a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3 text-white">
        <h6 class="text-uppercase font-weight-bold">
          <a class="btn btn-outline-light" href="{{url_for('blog')}}"><font face="Times New Roman">BLOG</font></a>
        </h6>
      </div>
    </div>

    <!-- Grid row-->
    <div class="row pb-3">

      <!-- Grid column -->
      <div class="col-md-12">

        <div class="flex-center">

        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Links -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-2 text-center mb-5">
  <!-- Twitter -->
        <a class="tw-ic">
          <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
        </a>

        <a class="github-ic" href="https://github.com/GoKoyama-5/Flask_My_Page.git">
          <i class="fab fa-github white-text mr-4"> </i>
        </a>
      </div>
    </div>
</div>

</footer>
<!-- Footer -->
</div>
{% endblock %}
